.btn-homeflow-primary {
    background-color: $homeflow-color-primary;
    border: 1px solid $homeflow-color-primary;
    border-radius: 24px;
    font-weight: 500;
    height: 40px;
    width: auto;
    padding: 8px 20px 0;

    &:hover {
        cursor: pointer;
    }
}


