.homeflow-card {
    background: #fff!important;
    background-size: 100% auto;
    border-radius: 20px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .1);
}

.homeflow-card-content {
    background-color: #FFF;
    background-image: url(https://scontent.fmga2-1.fna.fbcdn.net/v/t39.8562-6/42428744_24935974577202…nc_ht=scontent.fmga2-1.fna&oh=428649a…&oe=5D0A76EE);
    background-repeat: no-repeat;
    background-size: 70% auto;
    background-position: center 10%;
}

.input-group-text {
    border: 1px solid transparent!important;
    border-radius: .25rem;
    color: #0084ff;
}

