.path-homepage {
    .header-title {

    }

    .header-subtitle {
        color: rgba(0, 0, 0, .55);
        font-size: 16px;
        font-weight: 400;
        margin: 0 0 27px;
        max-width: 350px;
        text-align: left
    }
}
